body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #000000;
    border: 1px solid #020202;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 20px;
    text-align: center;
    width: 300px;
    border-radius: 10%;
}

input {
    width: 96%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 18px;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}


button {
    padding: 10px;
    font-size: 18px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
}

.numbers {
    color: red;
    font-weight: 800;
    font-size: 1.3rem;
}


button:hover {
    background-color: #ccc;
    filter: blur(1.5px);
    transform: scale(1);
}